
:root {
    --periods: 1em;
    --groups: 18;
    --hover-border: rgb(0, 145, 255);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    width: 100%;
    height: auto;
    aspect-ratio: 18/10;
    font-size: 1.25rem;
}

.grid {
    display: grid;
    grid-template-columns: min-content repeat(var(--groups), minmax(0, 1fr));
    align-items: stretch;
    justify-items: stretch;
    width: 100%;
}

.grid>* {
    aspect-ratio: 9 / 10;
    object-fit: contain;
    width: 100%;
}

.grid>*:hover {
    border-color: var(--hover-border) !important;
    box-shadow: none;
}